.main-content-container {
    height: 100vh;
}
.main-content-portal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.white-bg {
    background-color: transparent !important;
}
.bolded-text {
    font-weight: bold;
}
.size-down-text {
    font-size: 18px;
}
.get-started-row {
    display: flex;
    flex-direction: row;
    width: 225px;
    justify-content: space-between;
}
.round-btn {
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}
.round-btn-outline {
    border:1.5px solid rgb(46, 151, 255);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
}
.links-row {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
}
.row-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin-icons {
    margin-right: 10px;
}